:root {
    --bg-color: #3A4F7A;
    --primary-color: #FFC6D3;
    --secondary-color: #FEA1BF;
    --terciary-color: #E98EAD;
}

body {
    margin-top: 4em;
    background: var(--bg-color);
}


.painel {
    display: inline-block;
    background-color: var(--primary-color);
    padding: 5em;
    width: 50%;
    margin-left: 20%;
    border-style: double;
    border-radius: 7em;
    border-width: 1em;
    border-color: var(--terciary-color);
}

.titulo {
    display: inline-block;
    text-align: center;
    margin-left: 34%;
    color: var(--bg-color);
    background-color: var(--secondary-color);
    border-style: outset;
    padding: 0.2em;
    font-weight: bolder;
}

.contador {
    display: block;
    background-color: var(--secondary-color);
    text-align: center;
    padding: 4em;
    width: 10%;
    margin: 2em 0 2em 35%;
    border-radius: 50%;
    font-size: large;
    font-weight: 900;
}

.botao {
    padding: 4em;
    width: 20%;
    border-radius: 50%;
    margin: 1em 0 1em 10em;
    border-color: white;
    transition: 200ms linear;
}

.limpa {
    padding: 4em;
    border-radius: 50%;
    margin: 0 0 0 20em;
    width: 20%;
    border-color: white;
    transition: 200ms linear;
}

.botao:active {
    background-color: var(--terciary-color);
}

.limpa:active {
    background-color: var(--terciary-color);
}